.form {
  display: flex;
  flex-direction: column;
  height: 100%;

  > div {
    flex: 1 1 auto;

    > div {
      display: flex;
      justify-content: flex-end;

      > img {
        cursor: pointer;
        max-width: 30px;
      }
    }

    > h4 {
      margin-bottom: 1rem;
    }

    > input {
      margin-bottom: 1rem;
    }
  }

  > button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
  }
}

