
.table {
  flex: 1 1 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 700px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.table::-webkit-scrollbar {
  max-width: 7px;
  background-color: white;
}

.table::-webkit-scrollbar-thumb {
  background-color: #dedede;
  border-radius: 10px;
}

.table::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: white;
}

.item {
  width: 100%;
}

.title{
  font-size: 2rem;
  font-weight: 800;
}

