.title{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
  > span {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 24px;
    color: #000000;
  }
  > div{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}