.line {
  display: flex;
  gap: 2rem;

  > button {
    background-color: white;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      opacity: 1;
    }

  }

  > button:nth-child(4) {
    &.active {
      background-color: #e33434;
    }
  }

  > div {
    cursor: pointer
  }


}



