.main{
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  padding: 0rem 2rem 4rem 2rem;
}

.line{
  display: flex;
  gap: 2rem;
  > div:nth-child(1) {
    flex: 1 1 auto;
  }

  > div:nth-child(2) {
    > img {
      max-width: 30px;
    }
  }
}